*{
    padding: 0px;
    margin: 0px;
}

.Main_content{
   display: grid;
   width: 100vw;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto;
   
   justify-content: center;
   align-items: center;
   overflow: scroll;
   height: 90vh;
}

.Main_body{
    display: flex;
    gap: 0px;
}