*{
    padding: 0px;
    margin: 0px;
}

.Main_content{
   display: grid;
   grid-template-columns: auto auto auto auto;
   margin: 0px 300px 0px 0px;
   justify-content: center;
   align-items: center;
}

.Main_body{
    display: flex;
    justify-content: space-around;
}